<a href="https://colab.research.google.com/github/19PA1A0548/ensembel1/blob/master/Untitled42.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [0]:
import numpy as np
import pandas as pd

In [52]:
df=pd.read_csv("/content/diabetes (1).csv")
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [53]:
df.shape

(768, 9)

we are checking wether our data set contain NAN values

In [54]:
df.isnull().any()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

In [0]:
x=df[["Pregnancies","Glucose","BloodPressure","SkinThickness","Insulin","BMI","DiabetesPedigreeFunction","Age"]]
y=df["Outcome"]

In [0]:
from matplotlib import pyplot as plt

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [0]:
model=RandomForestClassifier(n_estimators=100)

In [82]:
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print(y_pred)

[1 0 0 1 0 0 1 1 0 0 1 1 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1
 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 0 1 1 1 1 0 1 0 0 0 0 1
 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 0
 0 0 1 1 1 0 0 0 1 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 1 0 1 0 0 0 1 0 0 1 0 0 0
 0 0 0 0 0 0]

In [60]:
dataframe=pd.DataFrame({"actual":y_test,"predicted":y_pred})
print(dataframe)

     actual  predicted
661       1          1
122       0          0
113       0          0
14        1          1
529       0          0
..      ...        ...
476       1          0
482       0          0
230       1          0
527       0          0
380       0          0

[154 rows x 2 columns]

In [61]:
print(accuracy_score(y_test,y_pred))

0.8051948051948052

In [0]:
model1=DecisionTreeClassifier()

In [0]:
model1.fit(x_train,y_train)
y_pred1=model1.predict(x_test)

In [64]:
dataframe1=pd.DataFrame({"actual":y_test,"y_pred":y_pred1})
dataframe1.head()

     actual  y_pred
661       1       1
122       0       0
113       0       0
14        1       1
529       0       0

In [65]:
print(accuracy_score(y_test,y_pred1))

0.7922077922077922

In [0]:
from sklearn.ensemble import AdaBoostClassifier

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [0]:
moda=AdaBoostClassifier()

In [85]:
moda.fit(x_train,y_train)
y_preda=moda.predict(x_test)
print(y_preda)

[1 0 0 0 0 0 1 1 0 0 1 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 1 0 1 1
 0 1 1 0 0 0 1 1 0 0 0 0 0 1 0 1 1 0 0 0 1 0 0 1 1 0 1 1 1 1 0 1 0 0 0 0 1
 1 1 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 1 0
 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 1 1 0 0 1 0 0 1 0 0 0
 0 0 0 0 0 0]

In [86]:
dataframea=pd.DataFrame({"actual":y_test,"predicted":y_preda})
dataframea.head()

     actual  predicted
661       1          1
122       0          0
113       0          0
14        1          0
529       0          0

In [87]:
print(accuracy_score(y_test,y_preda))

0.7792207792207793